#real{
    padding: 91px 109px;
    .real_text_part{
        text-align: center;
       
      h2{
        font-family: "Open Sans", serif;
        font-weight: 700;
        font-size: 48px;
        color: #141135;
      }
      p{
        width: 558px;
        font-family: "Paprika", serif;
        font-weight: 400;
        font-size: 18px;
        line-height: 30px;
        color: #726E9E;
        margin: 0 auto;
        margin-top: 23px;
      }
    }
    .real_text__part{
        text-align: center;
        
        h3{
            font-family: "Open Sans", serif;
            font-weight: 700;
            font-size: 30px;
            line-height: 36px;
            letter-spacing: 0.5px;
            color: #141135;
        }
        p{
            width: 343px;
            font-family: "Paprika", serif;
            font-weight: 400;
            font-size: 18px;
            line-height: 30px;
            color: #726E9E;
            margin: 0 auto;
            margin-top: 20px;
        }


    }
}